header{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100px, $color-primario 100%);
    padding: 1rem 2rem 0 2rem;
    @include flex (center, center);
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 99;
    img {
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 100%;
        opacity: .9;
        &:hover{
            opacity: 1;
        }
    }
    nav{
        a {
            color: $color-font;
            padding: 1rem 1.75rem;
        }
    }
}


.navbar, .navbar-expand-lg {
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar-collapse .nav-item {
    margin: 1rem 0;
}

.navbar-toggler {
    font-size: xx-large;
    border: 0;
    background-color: none;
    box-shadow: none;
    i:hover{
        color: $color-font;
    }
}

.navbar-toggler:focus {
    box-shadow: 0px 0px 4px white;
}

.nav-item{
    &:hover {
    color: $color-font;
    transform: translateX(4px);
    transition: transform .2s ease-out;
    }
    &:active{
        transform: translate(4px, 2px);
    }
    a:hover {
        color: $color-font;
    }
}