main {
    text-align: center;
    z-index: 1;
    nav{
        margin: 2rem;
    }
    form {
        width: 100%;
        color: black;
        padding: .2rem;
        padding-top: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;
        select {
            background-color: #121212;
            color: $color-font;
            border: 0;
            padding: .2rem;
            width: 100%;
        }
        input {
            width: 100%;
            color: black;
        }
        textarea {
            resize: none;
            color: black;
            width: 100%;
            height: 16rem;
        }
        .textarea {
            grid-column: span 2;
        }
    }
    section {
        padding: 1rem 2rem;
        @include flex (space-between, center);
        flex-direction: column;
        a {
            color: $color-primario
        }
        div {
            margin: 2rem;
            label {
                padding: 0.1rem 2rem;
                text-align: left;
            }
        }
        h1 {
            font-size: 3rem;
        }
        img {
            margin: 2rem;
        }
        ul {
            @include flex (center, center);
            flex-wrap: wrap;
            padding: 0;
            color: black;
            font-size: large;
            li{
                margin: 0.2rem;
                @include flex (center, center);
                a{
                    margin: 0.5rem;
                    width: 10rem;
                    height: 7rem;
                    line-height: 7rem;
                    border-radius: 0.5rem;
                    border: 0;
                    background: white;
                    box-shadow: 3px 3px 3px black;
                    &:active{
                        border: 2px solid white;
                        box-shadow: unset;
                    }
                    &:hover{
                        color:$color-primario
                    }
                    img {
                        width: 80%;
                        max-height: 60%;
                        vertical-align: middle;
                        margin: auto;
                    }
                }
                &:hover {
                    transform: translate(0, -5px);
                    transition: transform .3s ease-out;
                }
            }
        }
    }
}

.tarjetas-planes {
    border-radius: 1rem;
    box-shadow: 3px 3px 3px black;
    margin: 1rem 0.75rem;
    ul {
        display: flex;
        flex-direction: column;
        li {
            padding: 1.25rem 2rem;
            color: black;
            width: 100%;
            margin: 0;
            background-color: white;
            &:first-child {
                color:white;
                font-size: larger;
                font-weight: map-get($font-weights, "bold");
                background-color: $color-primario;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                .nmegas, i {
                    font-size: xxx-large;
                    color: $color-font;
                }
            }
            &:last-child {
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                margin: 0;
                padding: 0;
            }
            &:hover {
                transform: none;
                transition: none;
            }
            .nmegas {
                margin-right: 0.5rem;
                color: black;
                font-size: larger;
                font-weight: map-get($font-weights, "bold")
            }
            i {
                font-size: larger;
                color: $color-primario;
                margin-right: 0.5rem;
            }
            a {
                border: .2rem solid $color-primario;
                border-radius: 1rem;
                margin: .5rem;
                width: 70%;
                transition: ease-out .1s;
                &:hover{
                    color: $color-font;
                    font-size: larger;
                    background-color: $color-primario;
                    color: $color-font;
                }
                &:active{
                    border: .2rem solid $color-primario;
                }
            }
        }
    }
}

.banner-inicio {
    @extend %banner;
    background-image: url("../img/inicio.jpg");
}

.banner-cobertura {
    @extend %banner;
    background-image: url("../img/cobertura.jpg");
}

.banner-ayuda {
    @extend %banner;
    background-image: url("../img/ayuda.jpg");
}

.banner-enlaces {
    @extend %banner;
    background-image: url("../img/enlaces.jpg");
}

.banner-nuestra {
    @extend %banner;
    background-image: url("../img/nuestra.jpg");
}

.banner-contacto {
    @extend %banner;
    background-image: url("../img/contacto.jpg");
}

.flecha-arriba {
    font-size: xxx-large;
}

.acerca_de {
    min-height: 35vh;
    @include flex (space-around, center);
    flex-direction: column;
    p {
        font-size: larger;
        margin: 2rem;
        line-height: 4rem;
    }
}

.opciones-contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-auto-rows: min-content;
    margin-top: 1rem;
    gap: 2rem;
    a {
        color: white;
    }
    div {
        background-color: rgb(41, 41, 41);
        border-radius: 1rem;
        padding-top: 2rem;
        font-weight: map-get($font-weights, "medium");
        font-size: x-large;
        width: 98%;
        height: 100%;
        @include flex (space-between, center);
        flex-direction: column;
    }
    p {
        padding: 1.5rem 1rem 0.5rem;
        line-height: 2.5rem;
        min-width: 350px;
    }
    img {
        width: 100%;
        margin: 0;
        border-radius: 1rem;
    }
    .personal {
        grid-column: span 3;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 0;
    }
    .formulario {
        .boton_form {
            grid-column: 2;
            padding: 1rem;
        }
        div {
            margin: 0;
        }
    }
}

.mapa-contacto {
    width: 50%;
    height: 450px;
}

.mapa-cobertura {
    width: 80%;
    height: 600px;
}

.collapsed {
    background-color: transparent;
}

.accordion {
    width: 90%;
}

.accordion-body {
    img {
        margin: 0;
    }
}

.accordion-button {
    color: $color-font;
    h2 {
        margin-left: 3vw;
        font-size: x-large;
        font-weight: map-get($font-weights, "bold");
    }
}
.accordion-item{
    background-color: rgba(0,0,0,.5);
    border-radius: .5rem;
    border: 0;
}