$color-primario: #0044aa;
$color-secundario: #c40000;
$color-font: white;

@mixin flex ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

$font-weights: (
    "lightest": 100,
    "regular": 400,
    "medium": 500,
    "bold": 700,
    "boldest": 1000
);